## Build artifacts
bin/
obj/
output/
Debug/
Release/
x64/
x86/

## Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates


## Compiled files
*.exe
*.dll
*.pdb
*.cache

## Temporary files
*.log
*.tmp
*~ 